<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Galery
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-content>

    <ion-card *ngFor="let photo of photoService.photos; index as position">
      <img alt="photo.webviewPath" [src]="photo.webviewPath" />
      <ion-card-header>
        <ion-card-title>{{photo.predictions | json }}</ion-card-title>              
      </ion-card-header>          
      
    </ion-card>          

    <ion-card>
      <ion-card-header>
        <ion-card-title>Last Surf Cam Shots</ion-card-title>
        <ion-card-subtitle>14:00 to 16:00</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let photo of photoService.photos; index as position">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains"  [src]="photo.webviewPath" />
            </ion-thumbnail>
            <ion-label>{{photo.predictions | json }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="addPhotoToGallery()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>

</ion-content>
